name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test:
    env:
     DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    timeout-minutes: 60
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - uses: actions/setup-node@v5
      with:
        node-version: 20

    - name: Install backend deps
      run: cd backend && npm ci

    - name: Install frontend deps (serve)
      run: cd frontend && npm i -g serve  

    - name: Install e2e deps & browsers
      run: cd e2e && npm ci && npx playwright install --with-deps

    - name: Set up Docker Compose v2
      uses: docker/setup-compose-action@v1

    - name: List docker-compose services
      run: |
           docker compose config --services  # db, tasks-db, backend?
           docker compose ps                 # Запущенные контейнеры?


    # - name: Start Postgres DB (db service)
    #   run: |
    #     docker compose up -d db 
    #     sleep 25
    #     docker compose ps db

    # - name: Setup backend .env
    #   run: |
    #     cd backend
    #     echo "DB_HOST=localhost" >> .env
    #     echo "DB_PORT=5432" >> .env
    #     echo "DB_NAME=tasks" >> .env
    #     echo "DB_USER=user" >> .env
    #     echo "DB_PASSWORD=$DB_PASSWORD" >> .env
    #     cat .env    

    # - name: Start backend API (localhost:3000)
    #   run: |
    #     cd backend
    #     npm run dev &  # nodemon server.js
    #     sleep 25
    #     curl -f http://localhost:3000/tasks || exit 1

    - name: Start Postgres DB (db service)
      run: |
        docker compose up -d db 
        sleep 25
        docker compose ps db

    - name: Setup backend .env (pass123)
      run: |
        cd backend
        echo "DB_HOST=localhost" >> .env
        echo "DB_PORT=5432" >> .env
        echo "DB_NAME=tasks" >> .env
        echo "DB_USER=user" >> .env
        echo "DB_PASSWORD=pass123" >> .env  # CI test DB
        cat .env

    - name: Start backend API
      run: |
        cd backend
        npm run dev &
        sleep 30
        curl -f http://localhost:3000/tasks


    - name: Start frontend serve (localhost:5500) — ваш npx serve
      run: |
        cd frontend
        npx serve -l 5500 -s . &  # -s SPA, -l 5500 порт
        sleep 15
        curl -f http://localhost:5500 || exit 1

    - name: Run Playwright tests
      run: cd e2e && npx playwright test

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: e2e/playwright-report/
        retention-days: 30
